.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
}
.HeaderGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
  color: white;
}
.HeaderGroup a {
  color: white;
  text-decoration: none;
}
.HeaderGroup button {
  font-size: 20px;
  padding: 0 32px;
  line-height: 36px;
  background: white;
  border-radius: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }
  .HeaderGroup {
    grid-template-columns: repeat(4, auto);
  }
  .Header a:nth-child(4) {
    display: none;
  }
}
