.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
}
.HeaderGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
  color: white;
}
.HeaderGroup a {
  color: white;
  text-decoration: none;
}
.HeaderGroup button {
  font-size: 20px;
  color: white;
  padding: 0 32px;
  line-height: 36px;
  background: rgb(6, 120, 139);
  border-radius: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.2, 0.8, 0.2, 1);
}
.HeaderGroup button:hover {
  background: white;
  color: black;
  box-shadow: 0 10 20 rgba(27, 7, 59, 0.4);
  transform: translateY(-4px);
}
@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }
  .HeaderGroup {
    grid-template-columns: repeat(4, auto);
  }
  .Header a:nth-child(4) {
    display: none;
  }
}
